* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}

body {
    margin: 2%;
}

.container {
    width: 80%;
}

.formWrapper {
    width: 500px;
}

input.settings {
    width: 200px;
    border-radius: 3px;
    border: 0.5px solid gray;
}

.codeWrapper {
    border: 0.5px solid black;
    border-radius: 5px;
    width: auto;
    padding: 5px;
    display: none;
    overflow-x: auto;
    white-space: nowrap;
}

.container {
    display: flex;
    float: left;
}

.submit {
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 3px;
    border: 0px;
    background-color: lightgray;
    color: black;
    
}

.submit:hover{
    opacity: 0.9;
}

a {
    color: #1976d2;
    font-weight: bold;
}

select {
    width: 205px;
    border: 0.5px solid gray;
}

body > div > div.formWrapper > form > button {
    background-color: #1976d2;
    color: white;
}